@font-face {
  src: url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
  url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff');
  font-family: 'HelveticaNeueCyr';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
  url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
  font-family: 'HelveticaNeueCyr';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('../fonts/AvenirLTStd-Black.woff2') format('woff2'),
  url('../fonts/AvenirLTStd-Black.woff') format('woff');
  font-family: 'Avenir LT Std';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


@font-face {
  src: url('../fonts/AvenirLTStd-Roman.woff2') format('woff2'),
  url('../fonts/AvenirLTStd-Roman.woff') format('woff');
  font-family: 'Avenir LT Std';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
